@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    text-transform: none;
    font-weight: 600;
  }

  .btn.font-normal {
    font-weight: 400;
  }
}

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
  }
}
